<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>CRUD of the force</title>
</head>
<body>
	<h3>CRUD en node.js</h3>
	
	<hr>
	<h4>Frases</h4>
	<form action="/frases" method="POST">
		<input type="text" name="nombre" placeholder="ingrese nombre">
		<br>
		<br>
		<input type="text" name="frase" placeholder="Ingrese frase">
		<br>
		<br>
		<button type="submit">Enviar</button>
	</form>
	
	<p></p>

	<hr>

	<div id="resultados">
		<%frases.forEach(function(f, id){%>
			<label>Nombre: </label> <%= f.nombre %> <a href="/show/<%= f.pkID %>">ver</a> <a href="/frase/<%= f.pkID %>/edita">editar</a> <a href="/frase/<%= f.pkID %>/delete">eliminar</a>
			<br> 
			<label>Frase: </label> <%= f.frase %>
			<hr>				
		<%}) %>
	</div>
</body>
</html>